<!DOCTYPE html>
<html>
<head>
    <title>Edit Entry</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body class="light">

<button onclick="toggleMode()">Toggle Dark Mode</button>

<h2>Edit Entry</h2>

<div class="card">
    <form method="POST">
        <input type="text" name="title" value="{{ entry[1] }}"><br><br>
        <textarea name="content">{{ entry[2] }}</textarea><br><br>
        <button type="submit" class="btn">Update</button>
    </form>
</div>

<script>
function toggleMode() {
    document.body.classList.toggle("dark");
}
</script>

</body>
</html>